<div class="container">
<div class="row">
<div class="col-md-12">
<h1 class="text-center"><%= user.User_Name %></h1>
<h2 class="text-center">Status: [Status]</h2>
<h3 class="text-center"><%= fish.count %> <%= fish.species %> Left</h3>
</div>
</div>
<div class="row padding-md-top">
  <div class="col-md-12 text-center">
    <p>
      <button type="button" class="btn btn-md btn-default btn-block">View Fish Details</button>
    </p>
    <p>
      <button type="button" class="btn btn-md btn-default btn-block">Rescan</button>
    </p>
  </div>
</div>
<div class="row padding-md-top">
  <div class="col-md-6 col-xs-6 text-center">
      <button type="button" class="btn btn-primary btn-lg btn-block">Report</button>
  </div>
  <div class="col-md-6 col-xs-6 text-center">
      <button type="button" class="btn btn-lg btn-danger btn-block">SOS</button>
  </div>
</div>
</div>