<div class="container">
  	<h2 class="text-center">Report Illegal Fishing</h2>
    <div class="row text-center">
        <div class="col-md-12">
	    <form>
		<p>
		<button type="submit" value="DynamiteUsage" class="btn btn-lg btn-default btn-block">Dynamite Usage</button>
		</p>
		<p>
		<button type="submit"  value="ChemicalUsage" class="btn btn-lg btn-default btn-block">Chemical Usage</button>
		</p>
		<p>
		<button type="submit"  value="LightFishing" class="btn btn-lg btn-default btn-block">Light Fishing</button>
		</p>
		<p>
		<button type="submit"  value="EndangeredSpecies" class="btn btn-lg btn-default btn-block">Fishing Endangered Species</button>
		</p>
		<p class="hide">
		    <input type="" id="gps" class="form-control" />  
		</p>
	    </form>
    </div>