<img data-src="holder.js/400x400" class="img-thumbnail" alt="400x400" src="images/400x400.png" style="width: 400px; height: 400px;">
    </br>
    </br>
    <form role="form">
      <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Scan or Enter NFC Number">
      </br>
      <button type="button" class="btn btn-md btn-default btn-block">Submit</button>
      </div>
  </form>

      
      </br>
      </br>
      <div class="row padding-top">
          <div class="col-md-6 col-xs-6 text-center">
              <button type="button" class="btn btn-primary btn-lg btn-block">Report</button>
          </div>
          <div class="col-md-6 col-xs-6 text-center">
              <button type="button" class="btn btn-lg btn-danger btn-block">SOS</button>
          </div>
      </div>